# Files to be ignored by Git

# Visual Studio Code IDE.
.vscode

# CMake / Pico SDK temporary build files.
build/

# Temporary KiCad files.
*.kicad_prl
fp-info-cache
**/gerbers/
**/*-backups/
**/_autosave-*

# Temporary log files.
mri.log

# Metadata created by macOS.
.DS_Store

# Firmware images just sitting on my machine for testing.
contestants/
